<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,
    700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Photo Gallery</title>
</head>

<body>
    <div class="gallery">
        <div class="thumbnail">
            <div class="fennec-fox">
                <img src="../assets/fennec_fox.jpg" alt="a fennec fox" />
                <h2 id="name">FENNEC<br> FOX</h2>
                <span id="country">India</span>
                <span class="hover-content">
                    Know more <i class="fa-solid fa-arrow-right"></i>
                </span>
            </div>
            <div class="humpback-whale">
                <img src="../assets/humpback_whale.jpg" alt="a humpback whale" />
                <h2 id="name">HUMPBACK<br> WHALE</h2>
                <span id="country">South Africa</span>
                <span class="hover-content">
                    Know more <i class="fa-solid fa-arrow-right"></i>
                </span>
            </div>
            <div class="common-brown-baboon">
                <img src="../assets/common_brown_baboon.jpg" alt="a common brown baboon" />
                <h2 id="name">COMMON BROWN <br>BABOON</h2>
                <span id="country">South Africa</span>
                <span class="hover-content">
                    Know more <i class="fa-solid fa-arrow-right"></i>
                </span>
            </div>
            <div class="spotted-deer">
                <img src="../assets/spotted_deer.jpg" alt="a spotted deer" />
                <h2 id="name">SPOTTED <br> DEER</h2>
                <span id="country">Amazon</span>
                <span class="hover-content">
                    Know more <i class="fa-solid fa-arrow-right"></i>
                </span>
            </div>
        </div>
    </div>
</body>

</html>